<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>index2.html</welcome-file>
    </welcome-file-list>

    <!-- Servlet start -->
    <servlet>
        <servlet-name>FirstServ</servlet-name>
        <servlet-class>com.example.web101.FirstServ</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServ</servlet-name>
        <url-pattern>/fs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>handiCraft</servlet-name>
        <servlet-class>com.example.web101.handMadeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handiCraft</servlet-name>
        <url-pattern>/handCraft</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenServlet</servlet-name>
        <servlet-class>com.example.web101.GenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenServlet</servlet-name>
        <url-pattern>/gs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServHttp</servlet-name>
        <servlet-class>com.example.web101.ServHttp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServHttp</servlet-name>
        <url-pattern>/sh</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>initParamEx</servlet-name>
        <servlet-class>com.example.web102.initParamEx</servlet-class>
        <init-param>
            <param-name>Org-Name</param-name>
            <param-value>practice@gmail.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initParamEx</servlet-name>
        <url-pattern>/feedBack</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AppScope</servlet-name>
        <servlet-class>com.example.web102.AppScope</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AppScope</servlet-name>
        <url-pattern>/appSc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionScope</servlet-name>
        <servlet-class>com.example.web102.SessionScope</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionScope</servlet-name>
        <url-pattern>/sesSc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestScope</servlet-name>
        <servlet-class>com.example.web102.Request_Response_Scope</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestScope</servlet-name>
        <url-pattern>/r_rSc</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>content_MIME_Type</servlet-name>
        <servlet-class>com.example.web102.content_MIME_Type</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>content_MIME_Type</servlet-name>
        <url-pattern>/cmt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>error_Handling</servlet-name>
        <servlet-class>com.example.web103.error_Handling</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>error_Handling</servlet-name>
        <url-pattern>/cex</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>rqDispatcher</servlet-name>
        <servlet-class>com.example2.rqDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rqDispatcher</servlet-name>
        <url-pattern>/rqD</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>include1</servlet-name>
        <servlet-class>com.example2.include1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>include1</servlet-name>
        <url-pattern>/incl1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Redirector</servlet-name>
        <servlet-class>com.example2.Redirector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Redirector</servlet-name>
        <url-pattern>/sndRd</url-pattern>
    </servlet-mapping>


    <!-- Servlet end -->

    <!-- Filter Start -->
    <filter>
        <filter-name>servFilters</filter-name>
        <filter-class>com.example2.filter_Servlet.servFilters</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servFilters</filter-name>
        <url-pattern>/flServ</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>servFilters2</filter-name>
        <filter-class>com.example2.filter_Servlet.servFilters2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servFilters2</filter-name>
        <url-pattern>/flServ</url-pattern> <!-- mapped to same url, and chained after one another -->
    </filter-mapping>

    <!-- Filter End -->


    <!-- Error pages start -->
    <error-page>
        <error-code>404</error-code>
        <location>/err.html</location>
    </error-page>
    <error-page>
        <exception-type>com.example.CustomException.myException</exception-type>
        <location>/err.html</location>
    </error-page>

    <!-- Error pages end -->


    <!-- Context Param start -->
    <context-param>
        <param-name>DeUser</param-name>
        <param-value>Adam</param-value>
    </context-param>
    <context-param>
        <param-name>DeRights</param-name>
        <param-value>R</param-value>
    </context-param>
    <context-param>
        <param-name>Domain</param-name>
        <param-value>Global</param-value>
    </context-param>
    <!-- Context Param start -->


</web-app>